.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px; /* Reduced padding */
    text-align: center;
    text-decoration: none;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically align items */
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

.floating-button button {
    background: transparent; /* Transparent background for buttons */
    border: none;
    color: white;
    padding: 5px 10px; /* Adjust padding */
    cursor: pointer;
    font-size: 16px; /* Match font size */
    outline: none; /* Remove button outline */
}

.floating-button #options-toggle {
    border-left: 1px solid white; /* Add separator */
}

.options-panel {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    display: none;
    flex-direction: column;
    gap: 5px;
}